//
// Gallery
// ---------------------------------------------------

.app-gallery {
    height: 220px;
    overflow: hidden;
    margin-bottom: $spacer;
        @include media-breakpoint-up(sm) {
            height: 380px;
        }
        @include media-breakpoint-up(md) {
            height: 520px;
        }
        .flickity-page-dots {
            display: none;
        }   
}

.project-gallery {
    position: relative;
}

.app-gallery-caption {
    width: 100%;
        @include media-breakpoint-up(sm) {
            position: absolute;
            top: 2rem;
            left: 4rem;
            z-index: 1001;
            width: 35%;
            padding: 4rem 2rem 2rem 2rem;
            background: $app-primary;
        }
}

.app-gallery-cell {
    width: 100%;
    height: 220px;
    overflow: hidden;
        @include media-breakpoint-up(sm) {
            height: 380px;
        }
        @include media-breakpoint-up(md) {
            height: 520px;
        }
        img {
            width: 100%;
        }
}

/* ---- flickity overrides ---- */

.flickity-prev-next-button {
    background: transparent;
}

.flickity-prev-next-button .arrow {
    fill: #fff;
}

.flickity-prev-next-button:hover {
    background: none;
}

.flickity-page-dots {
    bottom: 20px !important;
}

.flickity-page-dots .dot {
    background: #fff;
}
