.app-partner-cards-wrapper {
	background: #f0f0f0;
	padding: 0;
	@include media-breakpoint-up(sm) {
		padding: 2rem;
	}
}

.app-partner-cards {
	@extend .container;

	.app-card {
        @include media-breakpoint-up(md) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include media-breakpoint-up(lg) {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
}

.partner-card {
	min-height: 200px;
	background: #fff;
}

.partner-card-01 {
	background: #fff url("../assets/img/partner-01.jpg") no-repeat scroll center center;
}

.partner-card-02 {
	background: #fff url("../assets/img/partner-02.jpg") no-repeat scroll center center;
}

.partner-card-03 {
	background: #fff url("../assets/img/partner-03.jpg") no-repeat scroll center center;
}

.partner-card-04 {
	background: #fff url("../assets/img/partner-04.jpg") no-repeat scroll center center;
}

.partner-card-05 {
	background: #fff url("../assets/img/partner-05.jpg") no-repeat scroll center center;
}

.partner-card-06 {
	background: #fff url("../assets/img/partner-06.jpg") no-repeat scroll center center;
}

.partner-card-07 {
	background: #fff url("../assets/img/partner-07.jpg") no-repeat scroll center center;
}

.partner-card-08 {
	background: #fff url("../assets/img/partner-08.jpg") no-repeat scroll center center;
}

.partner-card-09 {
	background: #fff url("../assets/img/partner-09.jpg") no-repeat scroll center center;
}

.partner-card-10 {
	background: #fff url("../assets/img/partner-10.jpg") no-repeat scroll center center;
}

.partner-card-11 {
	background: #fff url("../assets/img/partner-11.jpg") no-repeat scroll center center;
}

.partner-card-12 {
	background: #fff url("../assets/img/partner-12.jpg") no-repeat scroll center center;
}

.partner-card-13 {
	background: #fff url("../assets/img/partner-13.jpg") no-repeat scroll center center;
}

.partner-card-14 {
	background: #fff url("../assets/img/partner-14.jpg") no-repeat scroll center center;
}

.partner-card-15 {
	background: #fff url("../assets/img/partner-15.jpg") no-repeat scroll center center;
}

.partner-card-16 {
	background: #fff url("../assets/img/partner-16.jpg") no-repeat scroll center center;
}

