.app-partner-cards-wrapper {
	background: #f0f0f0;
	padding: 0;
	@include media-breakpoint-up(sm) {
		padding: 2rem;
	}
}

.app-partner-cards {
	@extend .container;

	.app-card {
        @include media-breakpoint-up(md) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include media-breakpoint-up(lg) {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
}

.partner-card {
	min-height: 200px;
	background: #fff;
}

.partner-card-01 {
	background: #fff url("../assets/img/partner-01.jpg") no-repeat scroll center center;
}

.partner-card-02 {
	background: #fff url("../assets/img/partner-02.jpg") no-repeat scroll center center;
}

.partner-card-03 {
	background: #fff url("../assets/img/partner-03.jpg") no-repeat scroll center center;
}

.partner-card-04 {
	background: #fff url("../assets/img/partner-04.jpg") no-repeat scroll center center;
}

.partner-card-05 {
	background: #fff url("../assets/img/partner-05.jpg") no-repeat scroll center center;
}

.partner-card-06 {
	background: #fff url("../assets/img/partner-06.jpg") no-repeat scroll center center;
}

.partner-card-07 {
	background: #fff url("../assets/img/partner-07.jpg") no-repeat scroll center center;
}

.partner-card-08 {
	background: #fff url("../assets/img/partner-08.jpg") no-repeat scroll center center;
}

.partner-card-09 {
	background: #fff url("../assets/img/partner-09.jpg") no-repeat scroll center center;
}

.partner-card-10 {
	background: #fff url("../assets/img/partner-10.jpg") no-repeat scroll center center;
}

.partner-card-11 {
	background: #fff url("../assets/img/partner-11.jpg") no-repeat scroll center center;
}

.partner-card-12 {
	background: #e7e6e5 url("../assets/img/partner-12.jpg") no-repeat scroll center center;
}

.partner-card-13 {
	background: #fff url("../assets/img/partner-13.jpg") no-repeat scroll center center;
}

.partner-card-14 {
	background: #fff url("../assets/img/partner-14.jpg") no-repeat scroll center center;
}

.partner-card-15 {
	background: #fff url("../assets/img/partner-15.jpg") no-repeat scroll center center;
}

.partner-card-16 {
	background: #fff url("../assets/img/partner-16.jpg") no-repeat scroll center center;
}

.partner-card-17 {
	background: #006ead url("../assets/img/partner-17.jpg") no-repeat scroll center center;
}

.partner-card-18 {
	background: #fff url("../assets/img/partner-18.jpg") no-repeat scroll center center;
}

.partner-card-19 {
	background: #fff url("../assets/img/partner-19.jpg") no-repeat scroll center center;
}

.partner-card-20 {
	background: #fff url("../assets/img/partner-20.jpg") no-repeat scroll center center;
}

.partner-card-21 {
	background: #fff url("../assets/img/partner-21.jpg") no-repeat scroll center center;
}

.partner-card-22 {
	background: #fff url("../assets/img/partner-22.jpg") no-repeat scroll center center;
}

.partner-card-23 {
	background: #fff url("../assets/img/partner-23.jpg") no-repeat scroll center center;
}

.partner-card-24 {
	background: #fff url("../assets/img/partner-24.jpg") no-repeat scroll center center;
}

.partner-card-25 {
	background: #fff url("../assets/img/partner-25.jpg") no-repeat scroll center center;
}

.partner-card-26 {
	background: #fff url("../assets/img/partner-26.jpg") no-repeat scroll center center;
}

.partner-card-27 {
	background: #fff url("../assets/img/partner-27.jpg") no-repeat scroll center center;
}

.partner-card-28 {
	background: #fff url("../assets/img/partner-28.jpg") no-repeat scroll center center;
}

.partner-card-29 {
	background: #fff url("../assets/img/partner-29.jpg") no-repeat scroll center center;
}

.partner-card-30 {
	background: #fff url("../assets/img/partner-30.jpg") no-repeat scroll center center;
}

.partner-card-31 {
	background: #fff url("../assets/img/partner-31.jpg") no-repeat scroll center center;
}

.partner-card-32 {
	background: #b32c2d url("../assets/img/partner-32.jpg") no-repeat scroll center center;
}

.partner-card-33 {
	background: #fff url("../assets/img/partner-33.jpg") no-repeat scroll center center;
}

.partner-card-34 {
	background: #fff url("../assets/img/partner-34.jpg") no-repeat scroll center center;
}

.partner-card-35 {
	background: #fcee18 url("../assets/img/partner-35.jpg") no-repeat scroll center center;
}

.partner-card-36 {
	background: #e7e6e5 url("../assets/img/partner-36.jpg") no-repeat scroll center center;
}

.partner-card-37 {
	background: #fff url("../assets/img/partner-37.jpg") no-repeat scroll center center;
}

.partner-card-38 {
	background: #e7e6e5 url("../assets/img/partner-38.jpg") no-repeat scroll center center;
}

.partner-card-39 {
	background: #fff url("../assets/img/partner-39.jpg") no-repeat scroll center center;
}

.partner-card-40 {
	background: #fff url("../assets/img/partner-40.jpg") no-repeat scroll center center;
}

