<div class="app-card card-quick">
  <div class="app-card-main">
    <div class="app-subcards">

     <!-- Card 01 -->
      <div class="app-subcard subcard-tl">
        <a href="{{ page.base_url }}bewerbung">
          {% include logos/logo-application.html %}
            <div class="app-subcard-title">
              Bewerbung
            </div>
        </a>
      </div> 

     <!-- Card 02 -->
      <div class="app-subcard subcard-tr">
        <a href="{{ page.base_url }}wir">  
          {% include logos/logo-employee.html %}
            <div class="app-subcard-title">
              Wir
            </div>
        </a>
      </div>

      <!-- Card 03 -->
      <div class="app-subcard subcard-br">
        <a href="{{ page.base_url }}zusatzangebote">
          {% include logos/logo-add.html %}
            <div class="app-subcard-title">
              Zusatzangebote
            </div>
        </a>       
      </div>

      <!-- Card 04 -->
      <div class="app-subcard subcard-bl">
        <a href="https://diako-augsburg.de/diako/stellenangebote">
          {% include logos/logo-offer.html %}
            <div class="app-subcard-title">
              Stellenangebote
            </div>
        </a>
      </div>

    </div>
  </div>
</div>