<div class="app-card card-02">
  <a href="{{ page.base_url }}berufsfachschulen-fuer-altenpflege-und-altenpflegehilfe/berufsfachschule-fuer-altenpflege">
    <div class="app-card-header app-card-header-02">
      <div class="app-card-title app-card-title-spacer8">
        Pflegefachkraft mit Schwerpunkt Altenpflege
      </div>
      <div class="app-card-icon">&#10095;</div>
    </div>
    <div class="app-card-main">
      <div class="app-card-banner app-card-banner-02">
      </div>
    </div>
  </a>
</div>
