<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="app-footer-cards">
            <div class="app-cards">
                <div class="app-card-footer adress">
                    <div class="app-footer-header">Besuchen Sie uns!</div>
                    <p><strong>Pflegeschulen für Alten-, Krankenpflege und Pflegefachhilfe</p>
                    <p><i class="fa fa-map-marker"></i> Hooverstraße 5<br />86156 Augsburg</p>
                    <p><i class="fa fa-phone"></i>  0821/263845 – 100 (Krankenpflege)<br />
                       <i class="fa fa-phone"></i>  0821/263845 – 150 (Altenpflege)<br />
                       <i class="fa fa-fax"></i> 0821/263845 - 160</p>
                    <p><i class="fa fa-envelope-o"></i> <a class="app-footer-link" href="mailto:buero-pflegeschulen@diako-augsburg.de">buero-pflegeschulen@diako-augsburg.de</a></p>
                    <br />
                </div>
                <div class="app-card-footer map">
                    <div class="app-footer-header">So finden Sie uns!</div>
                    <a rel="nofollow" href="https://goo.gl/maps/NMGxyjsBWEx">
                        <img class="img-fluid" src="{{ page.base_url }}assets/img/map.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="app-copyright">
        <p>&copy; Evangelische Diakonissenanstalt Augsburg {{ site.time | date: '%Y' }} &middot;
            <a rel="nofollow" href="{{ page.base_url }}">Startseite</a> &middot;
            <a rel="nofollow" href="{{ page.base_url }}impressum">Impressum</a> &middot;
            <a rel="nofollow" href="{{ page.base_url }}datenschutzerklaerung">Datenschutz</a> &middot;
            <a rel="nofollow" href="{{ page.base_url }}kontakt">Kontakt</a>
        </p>
    </div>
</footer>
