<div class="app-intro">
    <div class="app-intro-content">
        <div class="app-page-header">
            <div class="app-page-title">
                <h1 class="app-page-headline">die pflegeschulen des diako</h1>
            </div>
        </div>
            <p>Seit jeher war es ein Anliegen der Kirche, Menschen für einen Beruf zu qualifizieren. Die Evangelische Diakonissenanstalt - das diako - folgt dieser Tradition und bildet seit über 100 Jahren junge Menschen in den Berufen der Alten-, Gesundheits- und Krankenpflege aus.</p>
            <p>Die Berufsfachschulen für Altenpflege, Altenpflegehilfe und die Berufsfachschule für Krankenpflege arbeiten aufgrund berufspolitischer Entwicklungen und vieler inhaltlicher Gemeinsamkeiten sehr eng zusammen und unterstützen sich gegenseitig in Gestaltung und Ausführung der Unterrichte. Personale und finanzielle Ressourcen werden so optimal genutzt.</p>
            <p>Die Kooperation zwischen den pflegeschulen des diako und anderen konfessionellen Pflegeschulen in Augsburg bereichern die Ausbildung.</p>
            <p>die pflegeschulen des diako legen Wert auf eine persönliche Betreuung der Auszubildenden in der Schule und den praktischen Einsatzfeldern. Darüber hinaus werden die Kompetenzen in den Bereichen Persönlichkeit, soziale Beziehungen, Fachlichkeit und Handlungsfähigkeit gefördert.</p>
	</div>
</div>