<div class="app-partner-cards-wrapper">
    <div class="app-partner-cards">
        <div class="app-cards app-card-gutter">
            {% include cards/partner-card-01.html %}
            {% include cards/partner-card-02.html %}
            {% include cards/partner-card-03.html %}
            {% include cards/partner-card-04.html %}
            {% include cards/partner-card-05.html %}
            {% include cards/partner-card-06.html %}
            {% include cards/partner-card-07.html %}
            {% include cards/partner-card-08.html %}
            {% include cards/partner-card-09.html %}
            {% include cards/partner-card-10.html %}
            {% include cards/partner-card-11.html %}
            {% include cards/partner-card-12.html %}
            {% include cards/partner-card-13.html %}
            {% include cards/partner-card-14.html %}
            {% include cards/partner-card-15.html %}
        </div>
    </div>
</div>