<div class="app-page-header container">
      <div class="app-page-title">
          <h1 class="app-page-headline">Unsere Partner</h1>
      </div>
  </div>
<div class="app-partner-cards-wrapper">
    <div class="app-partner-cards">
        <div class="app-cards app-card-gutter">
            {% include cards/partner-card-20.html %}
            {% include cards/partner-card-47.html %}
            {% include cards/partner-card-48.html %}
            {% include cards/partner-card-49.html %}
            {% include cards/partner-card-50.html %}
            {% include cards/partner-card-51.html %}
        </div>
    </div>
</div>